
body {
    margin: 0;
    margin-left: 180px;
    border-left: 2px solid black;
    background: #DAB390;
}

h1 {
    margin: 0;
    padding: 0.5ex 0 0.2ex 2em;
    background: #F71636;
    border-bottom: 2px solid black;
    font-family:  sans-serif;
}

h2 {
    font-size: 14pt;
    margin: 0;
    padding: 0.5ex 0 0.5ex 2em;
    background: #0EE130;
    border-bottom: 4px solid #black;
    font-family:  sans-serif;
}

h3 {
    margin-left: 1.5em;
    margin-bottom: 0;
    text-decoration: underline;
    font-family:  sans-serif;
}

h3 a {
    color: black;
}

h4.date {
    padding: 0.2ex 0 0.2ex 4em;
    background: transparent url('/static/date-gradient.png');
    background-repeat: repeat-x;
    height: 24px;
    margin: 0
}

h4 {
    margin-left: 3em;
    font-family:  sans-serif;
}

p {
    margin-left: 3em;
    font-size: 12pt;
    line-height: 150%;
    padding-right: 30%;
    clear: both;
    text-align: justify;
    font-family: sans-serif;
    color: #0EE130;
}

body > *:last-child {
    margin-bottom: 0;
}

#blurb {
    float: left;
    width: 170px;
    position: absolute;
    left: 5px;
    top: 80px;
    margin: 0;
}

#blurb p {
    font-size: 8pt;
    padding: 0 1ex 0 1ex;
    margin: 1ex 0 3em 0;
    text-align: left;
    color: #047A41;
}

#blurb h1 {
    font-size: 12pt;
    padding: 0.3em 0 0.2em 0.3em;
    border: none;
    background: #0EE130;
}

#blurb a {
    color: #7ECEFF; 
}

#blurb ul {
    margin: -2em 0 3em 1em;
    padding: 0;
    list-style-type: none;
}

#blurb ul li {
    margin: 0;
    padding: 0.3em;
    font-family:  sans-serif;
    color: white;
    font-size: 10pt;
}

#blurb iframe {
    margin-top: 0.5em;
}

ul.postmenu li {
    list-style-type: none;
    float: left;

    border: 1px solid #B8E0F9;

    padding: 0.5ex 1ex 0.5ex 1ex;
    font-size: 75%;
    background: #F2FAFF;
    font-family:  sans-serif;
}

ul.postmenu li:first-child {
    border-right: 0px !important; 
}

ul.postmenu {
    margin-left: 0.5em;
    margin-top: 0.2em;
}

ul.postmenu:after {
    content: ".";
    display: block;
    visibility: hidden;
}

ul.navmenu {
    padding: 0;
    margin-top: 0;
    margin-left: 3em;
}

ul.navmenu:after {
    content: ".";
    display: block;
    visibility: hidden;
}

ul.navmenu li {
    float: left;
    list-style-type: none;
    font-family:  sans-serif;

    margin-right: 1px;
    padding-bottom: 3px;

    background: #F2FAFF;
    border: 1px solid #286182;
    border-top: none;

    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
}

ul.navmenu a {
    color: black;
    text-decoration: none;
    margin: 5px 15px 20px 15px;
}

ul {
    margin-left: 5em;
    margin-right: 30%;
}

.clearfix:after {
    content: ".";
    display: block;
    visibility: none;
}

img {
    margin-left: auto;
    margin-right: auto;
}

.img-even {
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
}

.img-odd {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}
