#content {
    border: 2px solid #A69E81;
    padding: 0.5%;
    overflow: auto;
}

#postarea {
    display: block !important;
}

.story {
    display: none;
    float: none;
    clear: right;
}

.story .toplink {
    display: none;
}

#postlist {
    padding: 0 0 0 2px;
}

#postlist li {
    border-left: none;
}

#postlist h1 {
    display: none;
}

/* tldr stuff only works when JS is on */

.verbose-1, .verbose-2, .verbose-3 {
/*    display: none;*/
}

#slider-area {
    margin: 2px 0 0 0;
    width: 25%;
    float: left;
}

#slider-area p {
    margin: 0;
    font-family: sans-serif;
    font-size: 0.6em;
    clear: none !important;
}

#slider-area h4 {
    font-size: 0.7em;
    margin: 0;
}

#slider-area p:first-of-type {
    float: left;
}

#slider-area p:last-of-type {
    float: right;
}

.ui-widget {
    font-size: 0.5em !important;
}
