* {
    margin: 0;
    font-family: sans-serif;
    color: white;
    font-size: small;
}

html {
    width: 100%; 
    height: 100%;
    background: #120666;
}

body {
    height: 100%:
}
#body {
    margin:0 auto; 
    padding: 0;
    height: 100%;
    background-color: black;
    width: 850px;
    border: 0;
    border-left: 2px solid #6588E7;
    border-right: 2px solid #6588E7;
    box-shadow: 0 0 16px #7969E8;
    -webkit-box-shadow: 0 0 16px #7969E8;
    -o-box-shadow: 0 0 16px #7969E8;
    -icab-box-shadow: 0 0 16px #7969E8;
    -khtml-box-shadow: 0 0 16px #7969E8;
    -moz-box-shadow: 0 0 16px #7969E8;
}

   padding: 0; 
}

#body > .navmenu {
    padding: 0;
}

#body > .navmenu li {
    float: left;
    list-style-type: none;
    background: #F9C504;
}

#head {
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
    height: 167px;
    width: 850px;
    background: url('/static/images/theme/header.png');
}

#head * {
    display: none;
}
#slider-area {
    display: none;
}

#tabs {
    width: 659px;
    float: left;
    line-height: normal;
    font-size: 12px;
}

#tabs ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#tabs li.selected {
    background: url('/static/images/theme/tab-right-on.gif')
        no-repeat right top;
}

#tabs li.selected a {
    background: url('/static/images/theme/tab-left-on.gif')
        no-repeat left top;
}

#tabs li {
    height: 18px;
    float: left;
    margin: 1px 4px;
    padding: 0;
    background: url('/static/images/theme/tab-right-off.gif')
        no-repeat right top;
    max-width: 658px;
}

#tabs li a {
    display: block;
    background: url('/static/images/theme/tab-left-off.gif')
        no-repeat left top;
    padding: 0 12px 2px 12px;
    text-decoration: none;
}

#tabs:after {
    content: ".";
    display: none;
    clear: left;
}

#content {
    width: 659px;
    float: left;
    background: url('/static/images/theme/body-right-repeat.png');
    background-repeat: repeat-y;
}

#content-top-placeholder {
    height:75px;
    background:url('/static/images/theme/body-top.png');
}

#border-corner-placeholder {
    float: right;
    width: 71px;
    height: 36px;
    background: url('/static/images/theme/body-right-top.png');
}

.story {
    margin-right: 80px;
    margin-left: 15px;
}

.story  p {
    margin-left: 3em;
    line-height: 150%;
    text-align: justify;
    font-family: sans-serif;
}

.story h1 {
    padding-left: 1.5em;
    padding-top: 0.2em;
    margin-top: 2em;
    margin-bottom: 1em;
    text-decoration: none;
    font-family:  sans-serif;
    border-top: 1px black solid;
    font-size: 140%;
    clear: right;
}

.story .date {
    float: right; 
    font-size: small;
    margin-bottom: 0;
}

.story .toplink {
    float: left;
    font-size: small;
    margin-bottom: 0;
}

#postlist {
    width: 191px;
    margin: 0; padding: 0;
    float: left;
    background: url('/static/images/theme/nav-walls-repeat.png');
    position:relative;
}

#postlist:before {
    height:163px;
    content:url('/static/images/theme/nav-head.png');
}

#postlist * {
    margin-left: 24px;
    margin-right: 21px;
}

#postlist ul {
    padding: 0;
}

#postlist li {
    list-style-type: none;
    margin: 0;
    margin-bottom: 0.5em;
}

#blurb {
    width: 191px;
    margin: 0; padding: 0;
    float: left;
    margin-top: -3px;
    background: url('/static/images/theme/nav-walls-repeat.png');
    position: relative;
}

#blurb * {
    margin-left: 24px;
    margin-right: 21px;
}
#footer {
    clear: both;
    display: block;
}
