* {
    margin: 0;
    font-family: sans-serif;
    color: white;
    font-size: small;
}

html {
    width: 100%; 
    height: 100%;
    background: #120666;
}

body {
    height: 100%:
}
#body {
    margin:0 auto; 
    padding: 0;
    height: 100%;
    background-color: black;
    width: 850px;
    border: 0;
    border-left: 2px solid #6588E7;
    border-right: 2px solid #6588E7;
    box-shadow: 0 0 16px #7969E8;
    -webkit-box-shadow: 0 0 16px #7969E8;
    -o-box-shadow: 0 0 16px #7969E8;
    -icab-box-shadow: 0 0 16px #7969E8;
    -khtml-box-shadow: 0 0 16px #7969E8;
    -moz-box-shadow: 0 0 16px #7969E8;
}

#body > .navmenu {
    padding: 0;
}

#body > .navmenu li {
    float: left;
    list-style-type: none;
    background: #F9C504;
}

#head {
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
    height: 118px;
    width: 850px;
    background: url('/static/images/theme/podcats.png');
}

#head * {
    display: none;
}
#slider-area {
    display: none;
}

#body > .ads {
    width:669px;
    height:65px;
    background: url('/static/images/theme/ads.png');
}

#tabs {
    display: block;
    height: 48px;
}

#tabs a.back {
    content: url('/static/images/theme/tab-arrow-left.png');
    float: left;
}
#tabs div {
    overflow-x: auto;
    overflow-y: hidden;
    height: 48px;
    width: 696px;
    float: left;
    background: url('/static/images/theme/tab-bar.png');
}

#tabs a.fore {
    content: url('/static/images/theme/tab-arrow-right.png');
    float: left;
}
#tabs ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/*
#tabs li.selected {
    background: url('/static/images/theme/tab-right-on.gif')
        no-repeat right top;
}

#tabs li.selected a {
    background: url('/static/images/theme/tab-left-on.gif')
        no-repeat left top;
}
*/
#tabs li {
    height: 34px;
    float: left;
    margin: 6px 0 8px;
    padding: 0;
    background: url('/static/images/theme/tab-right-last.png')
        no-repeat right top;
    max-width: 658px;
}

#tabs li a {
    display: block;
    background: url('/static/images/theme/tab-left-first.png')
        no-repeat left top;
    text-decoration: none;
    height: 34px;
    line-height: 34px;
    padding-left: 20px;
    padding-right: 25px;
}

#tabs:after {
    content: ".";
    display: none;
    clear: left;
}

#content {
    width: 659px;
    float: left;
    background: url('/static/images/theme/content-right.png') repeat-y right top;
    background-repeat: repeat-y;
}

#content-top-placeholder {
    height:71px;
    background:url('/static/images/theme/content-top.png');
}

#border-corner-placeholder {
    float: right;
    width: 71px;
    height: 33px;
    margin: 0;
    background: url('/static/images/theme/content-top-right.png');
}

.story {
    margin-right: 80px;
    margin-left: 15px;
}

.story  p {
    margin-left: 3em;
    line-height: 150%;
    text-align: justify;
    font-family: sans-serif;
}

.story h1 {
    padding-left: 1.5em;
    padding-top: 0.2em;
    margin-top: 2em;
    margin-bottom: 1em;
    text-decoration: none;
    font-family:  sans-serif;
    border-top: 1px black solid;
    font-size: 140%;
    clear: right;
}

.story .date {
    float: right; 
    font-size: small;
    margin-bottom: 0;
}

.story .toplink {
    float: left;
    font-size: small;
    margin-bottom: 0;
}

#postlist {
    width: 181px;
    margin: 0; padding: 0;
    float: right;
    background: url('/static/images/theme/nav-sides.png');
    position:relative;
    top: -65px; /* height of ads */
}

#postlist:before {
    height:163px;
    content:url('/static/images/theme/nav-top-disc.png');
}

#postlist * {
    margin-left: 24px;
    margin-right: 21px;
}

#postlist ul {
    padding: 0;
}

#postlist li {
    list-style-type: none;
    margin: 0;
    margin-bottom: 0.5em;
}

#blurb {
    width: 181px;
    margin: 0; padding: 0;
    float: right;
    background: url('/static/images/theme/nav-sides.png');
    position: relative;
    top: -65px; /* height of ads */
}

#blurb * {
    margin-left: 24px;
    margin-right: 21px;
}
#footer {
    clear: both;
    display: block;
}
